<div>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon favorite-icon" routerLink="/">
      <mat-icon>home</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" routerLink="/cart">
      <mat-icon>shopping_cart</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/login" *ngIf="!authService.isAuth()">
      <mat-icon>login</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/orders" *ngIf="authService.isAuth()">
      <mat-icon>credit_card</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" routerLink="/profile" *ngIf="authService.isAuth()">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" (click)="logout()" *ngIf="authService.isAuth()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</div>
<div class="page-area">
<router-outlet></router-outlet>
</div>
