.search-form-field {
  float:left;
  width: 90%;
}

.search-form-button {
  float:left;
  margin-left: 10px;
}

.storefront {
  float:left;
}

.card {
  max-width: 300px;
  margin: 20px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
