.search-form-field {
  float: left;
  width: 90%;
}

.search-form-button {
  float: left;
  margin-left: 10px;
}

.storefront {
  float: left;
}

.card {
  width: 300px;
  margin: 20px;
  white-space: pre-wrap;
}

.example-header-image {
  background-size: cover;
}